@model TourOperator.ViewModels.HotelDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HotelDetailsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiniBar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiniBar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Views)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Views)
        </dd>
    </dl>
</div>

    <div class="card-body">
        <a asp-controller="Booking" asp-action="Create" asp-route-hotelId="@Model.Id"> Go to Booking</a>
    </div>

