@model TourOperator.ViewModels.HotelOverviewDataModel

@{
    ViewData["Title"] = "Overview";
}

<h1>Overview</h1>




<form action="/Hotel/Overview" method="get" style="width:500px" class="form-inline m-4">
    <div class="form-group">
        <input type="text" name="Name" value="" class="form-control" placeholder="Search by title" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>



<div class="card-group">

    @foreach (var item in Model.OverviewHotels)
    {
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@item.ImageUrl" alt="Hotel Image">

        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-title">@item.Destination</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price @item.Price <i class="fas fa-euro-sign"></i> </li>
            <li class="list-group-item">@item.HotelType</li>
            <li class="list-group-item">Views: @item.Views</li>
        </ul>
        <div class="card-body">
            <a asp-controller="Hotel" asp-action="Details" asp-route-id="@item.Id">Details</a>
        </div>
    </div>


        
    }
</div>
